* {
  box-sizing: border-box;
}

h1 {
  border: 1px solid black;
  height: 200px;
  width: 300px;
  padding: 10px;
}
.progress {cursor: progress;}

#example1 {
 /* border: 2px solid black;
  padding: 25px;*/
  /*background: url(mountain.jpg);*/
   background: url(img/mountain2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}